body {
    background: #222;
    display: flex;
    justify-content: center;
}

#game {
    width: 400px;
    height: 600px;
    background: #333;
    position: relative;
    overflow: hidden;
}

#paddle {
    width: 80px;
    height: 15px;
    background: #00eaff;
    position: absolute;
    bottom: 10px;
    left: 160px;
    border-radius: 10px;
}
