body {
    background: #1e1e1e;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#game {
    width: 400px;
    height: 600px;
    background: #2c2c2c;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

#paddle {
    width: 80px;
    height: 15px;
    background: #29b6f6;
    position: absolute;
    bottom: 10px;
    left: 160px;
    border-radius: 7px;
}

.ball {
    width: 20px;
    height: 20px;
    background: gold;
    border-radius: 50%;
    position: absolute;
}

#score {
    color: white;
    padding: 10px;
    font-family: Arial;
}
