body {
    background: #1e1e1e;
    color: white;
    text-align: center;
    font-family: Arial;
}

#game {
    width: 400px;
    height: 600px;
    background: #2c2c2c;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

#info {
    padding: 10px;
}

#paddle {
    width: 80px;
    height: 15px;
    background: #29b6f6;
    position: absolute;
    bottom: 10px;
    left: 160px;
    border-radius: 8px;
}

#ball {
    width: 20px;
    height: 20px;
    background: gold;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 190px;
}
